/* Typography | fs = font-size */
.text {
  &.fs {
    &-xs {
      font-size: 10px;
    }

    &-sm {
      font-size: 12px;
    }

    &-md {
      font-size: 16px;
    }

    &-lg {
      font-size: 20px;
    }
  }
}
