/* Section */
.section {

  &.-error {
    background-color: $color30;
    min-height: 400px;
    .title {
      font-size: 100px;
      font-weight: 700;
    }
  }

  &.-login {
    position: relative;
    min-height: 600px;
  }

  &.-register {
    background-color: $color30;
    min-height: 700px;
    @include media("<=phone") {
      min-height: 850px;
    }
  }

  &.-recover {
    background-color: $color30;
    min-height: 400px;
  }

  &.-login,
  &.-register,
  &.-recover,
  &.-error {
    height: 100%;
    .section-content {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @include media("<=tablet") {
      .section-content {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}
