/* Pagination */
.pagination {
  .page-item {
    margin-left: 6px;
    margin-right: 6px;
  }
  .page-link {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100% !important;
  }
}
