/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 50px 0 0;
  background-color: $color10;
  box-shadow: 0 16px 48px rgba($color20, 0.125);
  width: 120px;
  transition: all .4s ease;

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 50px);
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }

  @include media("<=phone") {
    width: 100%;
    transform: translateX(-100%);
    padding: 75px 50px 50px;

    .sidebar-sticky {
      width: 100%;
    }

    .nav {
      display: block;
    }

    &.-opened {
      transform: translateX(0);
    }
  }
}
